.content{
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgb(238,174,202);
    background: linear-gradient(4deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.column-one{
    display: flex;
    width: 30%;
    height: 100vh;
    background-color: #353535;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
    position: fixed;
}

.profile-picture{
    width: 200px;
    height: 200px;
    background-color: #FFE5EC;
    border-radius: 100%;
    flex-wrap: wrap;
}

.about{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0 2em;
    flex-wrap: wrap;
    font-family: 'Raleway';
}

.about-title{
    width: 100%;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    font-family: 'Raleway';
}
.about-content{
    width: 100%;
    color: white;
    font-family: 'Raleway';
    color: white;
}
p{
    margin-top: 0.5em;
    font-family: 'Raleway';
}

.spacing{
    margin-bottom: 4rem;
}

.main{
    width: 70%;
    margin-left: 30%;
    height: 100%;
    font-family: 'Raleway';
    color: white;
}
.main-title{
    padding-top: 4rem;
    text-align: center;
    font-family: 'Raleway';
    color: white;
}
.main-content{
    padding-top: 4rem;
    margin-left: 31%;
    width: 50%;
    margin-bottom: 1em;
    font-family: 'Raleway';
    color: white;
}

h1{
    margin: 0;
    font-family: 'Raleway';
    color: white;
}
h4{
    margin-top: .5rem;
    font-size: 14px;
    font-family: 'Raleway';
    color: white;
}
h3{
    padding-bottom: .5em;
    border-bottom: 1.5px solid #FFE5EC;
    font-family: 'Raleway';
    color: white;
}

.spacing-top{
    margin-top: 1em;
}
.spacing-bottom{
    margin-bottom: 4em;
    padding-bottom: 4em;
}
.icon{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}